# Variables

In [5]:
n: int = ... # Your Roll No
s: str = ... # Your Name
f: float = ... # Your marks out of 10
b: bool = ... # Did you pass?

In [7]:
print(f"Roll No: {n} || Name: {s} || Marks: {f} / 10 || Pass: {b}")

Roll No: 1 || Name: John Does || Marks: 9.3 / 10 || Pass: True

# Python Data Types

In [12]:
list_1 = 1, 2, 3, 4, 5   # Complete the code to create a list
tuple_2 = 1, 2, 3, 4, 5  # Complete the code to create a tuple
set_3 = 1, 2, 3, 4, 5    # Complete the code to create a set
dict_4 = 1, 2, 3, 4, 5   # Complete the code to create a dictionary

In [13]:
print(list_1, type(list_1))
print(tuple_2, type(tuple_2))
print(set_3, type(set_3))
print(dict_4, type(dict_4))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5} <class 'dict'>

# Conditional Statements

In [14]:
n = 10

In [15]:
if ...:                                       # Write the conditional logic
  print("n is less than 10")
else:
  print("n is greater than or equal to 10")

n is greater than or equal to 10

# Loops

### For loops

In [18]:
for ...:                  # Write the loop logic
  if i % 2 == 0:
    print(f"Even: {i}")
  else:
    print(f"Odd: {i}")

Even: 0
Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9

### While loops

In [21]:
n: int = 1

while n <= 10:                    # Find the error in the while statement and fix it
  # Find errors from here
  print(f"{n}^2 = {n * n}")

1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100

# Functions

In [22]:
def summation(a: int, b: int) -> int:
  return a + b

def subtraction(a: int, b: int) -> int:
  return a - b

print(...(1, 2))  # Test the summation function
print(...(5, 3))  # Test the subtraction function

3
2

# Args and kwargs

In [23]:
def summation(*args):
  return sum(...)  # Return the sum of tuple

print(...(1, 2, 3, 4, 5)) # Test the summation function

15

In [24]:
def my_info(**kwargs):
  print(f"Name: {kwargs['name']}")
  print(f"Age: {kwargs['age']}")

my_info(...) # Pass the right values on to the function

Name: John
Age: 30

# Decorators

In [26]:
def decorator(func):
  def wrapper(*args, **kwargs):
    print("Before the function")
    result = func(*args, **kwargs)
    print("After the function")
    return result
  return wrapper


def say_hello(name):         # Add a deorator to this function
  print(f"Hello, {name}")

say_hello("John")

Before the function
Hello, John
After the function

# Classes (Object Oriented Programming)

In [29]:
class Maths:
  def __init__(self, a, b):
    self.a = a
    self.b = b

  def summation(self):
    return self.a + self.b

  def subtraction(self):
    return self.a - self.b

  def division(self):
    return self.a // self.b

  def multiplication(self):
    return self.a * self.b

math_obj = ... # Create an object for the class

print(f"Summation: {math_obj.summation()}")
print(f"Subtraction: {math_obj.subtraction()}")
print(f"Division: {math_obj.division()}")
print(f"Multiplication: {math_obj.multiplication()}")

Summation: 15
Subtraction: 5
Division: 2
Multiplication: 50